.all-items {
  background: #8d4428;
  margin: -10px;
  margin-top: -20px;
  color: #efddcc;
  padding: 20px;
}
.items-header {
  text-align: center;
  font-size: 60px;
}
@media only screen and (min-width: 480px) {
}
